body {
	background-color: black;
	font-family: 'Roboto';
}

#about {
	background-color: gray;
	padding-top: 10px;
	margin-bottom: -20px;
}

#projects {
	background-color: silver;
}

#contact {
	background-color: gray;
	margin-top: -20px;
	padding-bottom: 50px;
}

img.resize {
	max-width: 15%;
	max-height: 15%;
	border-radius: 50%
}

.white-text{
	color: white;
}

h1{
	padding-top: 50px;
	text-align: center;
}

h2{
	text-align: center;
	color: white;
	padding-top: 45px;
	padding-bottom: 45px;
}

p{
	padding-top: 20px;
	padding-bottom: 20px;
}

.fa-facebook {
	color: white;
	background-color: #3b5998;
}

.fa-linkedin {
	color: white;
	background-color: #0077B5;
}

.fa-github {
	color: white;
	background-color: black;
}

.nav-pills {
	color: black;
}

.fa {
	padding: 10px;
	font-size: 30px !important;
	width: 50px;
	text-decoration: none;
	border-radius: 50%;
}

#icons {
	padding-bottom: 30px;
}

.fa:hover {
	text-decoration: none;
	opacity: 0.7;
}

label {
	font-weight: normal
}

.form-group {
	padding-left: 30px;
}

#submitButton {
	margin-left: 30px;
}