body {
	background-color: black;
	font-family: 'Roboto';
}

#about {
	background-color: gray;
	padding-top: 10px;
	margin-bottom: -20px;
}

#projects {
	background-color: silver;
}

#contact {
	background-color: gray;
	margin-top: -20px;
}

img.resize {
	max-width: 15%;
	max-height: 15%;
	border-radius: 50%
}

.white-text{
	color: white;
}

h1{
	padding-top: 50px;
	text-align: center;
}

h2{
	text-align: center;
	color: white;
	padding-top: 45px;
	padding-bottom: 45px;
}

p{
	padding-top: 20px;
	padding-bottom: 20px;
}

.big-icon {
	font-size: 25px;
	padding: 50px;
}

.facebook {
	color: white;
	background-color: #3b5998
}

.nav-pills {
	color: black;
}